html {
  font-size: 62.5%;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #333333;
  background-color: #fff;
  line-height: 1.5;
  width: 100%;
  max-width: 192rem;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover, a :focus {
  opacity: 0.75;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 105rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.section-title {
  font-size: 3.2rem;
  margin-bottom: 1.3rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.5rem;
  }
}

.section-lead {
  color: #3BA6C9;
  font-size: 1.6rem;
  text-align: center;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
}

.header__inner {
  padding: 2.4rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__inner {
    padding: 1.5rem 0;
  }
}

.header__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .header__logo {
    width: 3rem;
    height: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  .header__btn {
    display: none;
  }
}

.page-title {
  color: #333333;
  font-size: 2.4rem;
  margin-left: 1.6rem;
}

@media screen and (max-width: 767px) {
  .page-title {
    font-size: 1.6rem;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__item {
  margin-right: 4.6rem;
}

@media screen and (max-width: 768px) {
  .nav__item {
    width: 80%;
    margin-left: 10%;
    padding-bottom: 1rem;
    border-bottom: solid 1px #333;
  }
}

.nav__item:nth-of-type(3) {
  margin-right: 0;
}

.nav__text {
  font-size: 1.6rem;
  font-weight: bold;
  color: #333333;
}

@media screen and (max-width: 767px) {
  .nav__text {
    font-size: 2rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nav__text {
    font-size: 3rem;
  }
}

.btn {
  color: #fff;
  font-size: 1.4rem;
  padding: .8rem 4.4rem 1rem 3.5rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#FA41CC), to(#6020B0));
  background-image: linear-gradient(to right, #FA41CC, #6020B0);
  border-radius: 1rem;
}

.btn:hover, .btn :focus {
  opacity: 0.75;
}

@media screen and (max-width: 767px) {
  .global-nav {
    right: -150px;
    width: 150px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .global-nav {
    right: -300px;
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .gnav-btn {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    z-index: 3;
  }
  .gnav-btn span {
    position: absolute;
    width: 100%;
    height: 3px;
    display: inline-block;
    background: #333;
    border-radius: 10px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
  }
  .gnav-btn.open span {
    background: #333;
  }
  .gnav-btn span:nth-child(1) {
    top: 20%;
  }
  .gnav-btn span:nth-child(2) {
    top: 50%;
  }
  .gnav-btn span:nth-child(3) {
    top: 80%;
  }
  .gnav-btn.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 48%;
  }
  .gnav-btn.open span:nth-child(2) {
    opacity: 0;
  }
  .gnav-btn.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 48%;
  }
  .global-nav {
    position: fixed;
    top: 0;
    height: 100vh;
    padding-top: 95px;
    background: #fff;
    font-size: 1.6rem;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    z-index: 2;
  }
  #global-nav.open {
    right: 0px;
  }
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .nav-menu li a {
    color: #333;
  }
  .nav-menu li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 40px;
  }
  #bglayer {
    display: none;
  }
  #bglayer.open {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: #000;
    opacity: 0.3;
    z-index: 1;
  }
}

.mv {
  background-image: url(../img/oval.png);
  background-repeat: no-repeat;
  background-size: 900px 900px;
  background-position: top -300px right -25px;
}

@media screen and (max-width: 768px) {
  .mv {
    background-position: top -300px right -200px;
  }
}

.mv__inner {
  padding-top: 13rem;
  padding-bottom: 11rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .mv__inner {
    padding-top: 5rem;
    padding-bottom: 3rem;
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mv__inner {
    padding-top: 5rem;
    display: block;
    text-align: center;
  }
}

.mv__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.mv__copy {
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: 5rem;
}

@media screen and (max-width: 767px) {
  .mv__copy {
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
  }
}

.mv__text {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 5.5rem;
}

@media screen and (max-width: 767px) {
  .mv__text {
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 767px) {
  .mv__img {
    margin-top: 3.5rem;
    width: 25rem;
    height: 22rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .mv__img {
    padding-top: 3.5rem;
  }
}

.features {
  text-align: center;
}

.features__inner {
  padding-top: 7rem;
  padding-bottom: 15.5rem;
}

@media screen and (max-width: 767px) {
  .features__inner {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.features__item:nth-of-type(1) {
  margin-top: 6rem;
  margin-bottom: 8.8rem;
}

@media screen and (max-width: 767px) {
  .features__item:nth-of-type(1) {
    margin-bottom: 5rem;
  }
}

.features__item:nth-of-type(2) {
  margin-bottom: 13.8rem;
}

@media screen and (max-width: 767px) {
  .features__item:nth-of-type(2) {
    margin-bottom: 5rem;
  }
}

.features__title {
  font-size: 2.8rem;
  margin-bottom: 5rem;
}

.media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 768px) {
  .media {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.media--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .media--reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.media__body {
  text-align: left;
}

@media screen and (max-width: 767px) {
  .media__body {
    max-width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .media__body {
    text-align: center;
  }
}

.media__img-wrapper {
  max-width: 80%;
  margin-bottom: 2rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.media__title {
  font-size: 2.4rem;
  line-height: 2;
  margin-bottom: 4rem;
}

@media screen and (max-width: 768px) {
  .media__title {
    font-size: 2rem;
  }
}

.media__text {
  font-size: 1.6rem;
  line-height: 1.625;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .media__text {
    font-size: 1.4rem;
  }
}

.media--reverse .media__body {
  margin-right: 17.745098%;
}

@media screen and (max-width: 768px) {
  .media--reverse .media__body {
    margin-right: 0;
  }
}

#media__img-wrapper--01 {
  margin-right: 11.5%;
}

@media screen and (max-width: 768px) {
  #media__img-wrapper--01 {
    margin-right: 0;
  }
}

#media__img-wrapper--03 {
  margin-right: 19.705882%;
}

@media screen and (max-width: 768px) {
  #media__img-wrapper--03 {
    margin-right: 0;
  }
}

.price {
  background-color: #EEFBFB;
  text-align: center;
}

.price__inner {
  padding-top: 5.7rem;
  padding-bottom: 6.9rem;
}

.price__menu {
  background-color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  max-width: 92.5rem;
  margin-top: 7.1rem;
  margin-right: auto;
  margin-bottom: 3.8rem;
  margin-left: auto;
  -webkit-box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.16);
}

@media screen and (max-width: 767px) {
  .price__menu {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
}

.price__menu-heading {
  border: solid .1rem #E5E5E5;
  text-align: left;
  width: 31.4%;
  padding: 3.5rem 3.5rem 3.5rem 1.9rem;
}

@media screen and (max-width: 767px) {
  .price__menu-heading {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }
}

@media screen and (max-width: 768px) and (max-width: 1024px) {
  .price__menu-heading {
    width: 40%;
  }
}

.price__menu-data {
  border: solid .1rem #E5E5E5;
  text-align: left;
  width: 68.6%;
  padding: 3.5rem 0 3.5rem 3rem;
}

@media screen and (max-width: 767px) {
  .price__menu-data {
    vertical-align: middle;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .price__menu-data {
    width: 60%;
  }
}

.price__caption {
  font-size: 1.6rem;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .price__caption {
    font-size: 1.4rem;
  }
}

.faq {
  text-align: center;
}

.faq__inner {
  padding-top: 5.7rem;
  padding-bottom: 8.6rem;
}

.accordion {
  line-height: 1.86;
  max-width: 91rem;
  margin-top: 3.3rem;
  margin-right: auto;
  margin-left: auto;
  border: solid 1px #E5E5E5;
}

.accordion__question-wrapper {
  border-bottom: solid 1px #E5E5E5;
  padding: 2rem 0;
}

.accordion__question {
  font-size: 1.4rem;
  font-weight: bold;
  display: block;
}

.accordion__answer-wrapper {
  background-color: #F2F2F2;
  border-bottom: solid 1px #E5E5E5;
  height: 9.3rem;
  padding: 0 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 767px) {
  .accordion__answer-wrapper {
    height: auto;
    padding: 2rem;
  }
}

.accordion__answer {
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
}

.blog {
  background-color: #EEFBFB;
  padding-top: 5.7rem;
  padding-bottom: 9.1rem;
}

@media screen and (max-width: 767px) {
  .blog {
    padding-bottom: 6rem;
  }
}

.blog__inner {
  max-width: 125.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: 0 auto;
}

.cards {
  margin-top: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .cards {
    margin-top: 3rem;
  }
}

@media screen and (max-width: 1023px) {
  .cards {
    display: block;
  }
}

.cards--col3 > .cards__item {
  width: 31.755102%;
  margin-right: 2.44897959%;
}

@media screen and (max-width: 767px) {
  .cards--col3 > .cards__item {
    width: 100%;
    margin: 0 auto 3rem auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cards--col3 > .cards__item {
    width: 80%;
    margin: 0 auto 3rem auto;
  }
}

@media screen and (min-width: 1023px) {
  .cards--col3 > .cards__item:nth-of-type(3) {
    margin-right: 0;
  }
}

.card {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__img {
  width: 100%;
}

.card__body {
  padding: 1.6rem 1.8rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card__title {
  font-size: 1.8rem;
  font-weight: bold;
}

.card__time {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: end;
  padding-right: 3.6rem;
  padding-bottom: 1.1rem;
}

.works {
  padding-top: 5.7rem;
  padding-bottom: 9rem;
}

@media screen and (max-width: 767px) {
  .works {
    padding-bottom: 6rem;
  }
}

.works__swiper {
  margin-top: 6.9rem;
}

@media screen and (max-width: 1023px) {
  .works__swiper {
    margin-top: 3rem;
  }
}

.works__item {
  border: solid 1px #DDDDDD;
  border-radius: 8px;
}

.works__img {
  width: 100%;
}

.works__body {
  padding: 2.1rem 5.6rem 4.2rem 1.8rem;
}

@media screen and (max-width: 1023px) {
  .works__body {
    padding: 1.5rem 4rem 2rem 1.5rem;
  }
}

.works__title {
  font-size: 1.6rem;
  margin-bottom: 3.5rem;
}

@media screen and (max-width: 1023px) {
  .works__title {
    margin-bottom: 2rem;
  }
}

.works__text {
  font-size: 1.4rem;
  font-weight: bold;
}

.swiper-container {
  z-index: 1;
}

.swiper-slide {
  max-width: 23.574574%;
}

@media screen and (max-width: 1023px) {
  .swiper-slide {
    max-width: 85%;
    margin-bottom: .2rem;
  }
}

.contact {
  background-image: -webkit-gradient(linear, left top, right top, from(#05A5FA), to(#63FBD7));
  background-image: linear-gradient(to right, #05A5FA, #63FBD7);
  padding-top: 6.5rem;
  padding-bottom: 7rem;
}

.contact__inner {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.contact__title {
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.contact__lead {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 3.9rem;
  text-align: center;
}

.contact__copy {
  color: #fff;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 4.8rem;
}

.form {
  background-color: #fff;
  max-width: 920px;
  padding: 3.1rem 6.2rem 3.5rem 6.3rem;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .form {
    padding: 2rem 2rem;
  }
}

.form__box:nth-of-type(2) {
  margin-top: 2.9rem;
}

.form__box:nth-of-type(3) {
  margin-top: 2.4rem;
  margin-bottom: 2.9rem;
}

.form__box:nth-of-type(4) {
  text-align: center;
  margin-bottom: 3.1rem;
}

.form__heading {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 4.2rem;
}

@media screen and (max-width: 767px) {
  .form__heading {
    margin-bottom: 2.5rem;
  }
}

.form__heading-badge {
  color: #fff;
  background-color: #0C449B;
  font-size: 1.4rem;
  border-radius: 10px;
  padding: .5rem 1.6rem;
  margin-left: 2.6rem;
}

@media screen and (max-width: 767px) {
  .form__heading-badge {
    margin-left: 1rem;
  }
}

.form__input {
  display: block;
  background-color: #EEFBFB;
  font-size: 1.6rem;
  border-radius: 3px;
  border: none;
  width: 50rem;
  height: 4.3rem;
}

@media screen and (max-width: 767px) {
  .form__input {
    width: 100%;
    height: 3.5rem;
  }
}

.form__textarea {
  display: block;
  background-color: #EEFBFB;
  font-size: 1.6rem;
  border-radius: 3px;
  border: none;
  resize: none;
  width: 100%;
  height: 17.9rem;
}

.form__checkbox {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.form__checkbox-text {
  font-size: 1.6rem;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
}

.submitbtn {
  display: block;
  border: none;
  margin: 0 auto;
  cursor: pointer;
}

.submitbtn:disabled {
  pointer-events: none;
  opacity: .5;
}

.alert-message {
  display: none;
  color: #ff0000;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin-top: 2rem;
}

.alert-message.active {
  display: block;
}
.end-message {
  display: none;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}

.footer {
  padding-top: 4.5rem;
  padding-bottom: 4.9rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    padding-bottom: 4rem;
  }
}

.footer__title {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

@media screen and (max-width: 767px) {
  .footer__title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}

.footer__text {
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 5.4rem;
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
